# ===========================
# Python
# ===========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

.venv/
venv/
env/

# Environment variables
.env

# ===========================
# React / Vite
# ===========================
frontend/node_modules/
frontend/dist/

# ===========================
# VS Code
# ===========================
.vscode/

# ===========================
# Logs
# ===========================
*.log

# ===========================
# Windows
# ===========================
Thumbs.db
Desktop.ini

# ===========================
# macOS
# ===========================
.DS_Store

# ===========================
# Build files
# ===========================
build/
dist/

# ===========================
# Python cache
# ===========================
.pytest_cache/
.mypy_cache/

# ===========================
# Temporary files
# ===========================
*.tmp
*.bak